<% current_user.user_products.each do |item| %>
<%= item.product.title %> </br>
<%= number_to_currency(item.product.price,:precision => 2) %> </br> 
<%= button_to "Remove Item", remove_product_path(:id => item.id) %>
-----------</br>

<%end%>

<h1>Total: <%= number_to_currency(@cart_sum,:precision => 2) %></h1>