<% current_user.user_products.each do |item| %>
<%= item.product.title %> </br>
<%= number_to_currency(item.product.price,:precision => 2) %> </br> 
<%= button_to "Remove Item", remove_product_path(:id => item.id) %>
-----------</br>

<%end%>

<h1>Total: <%= number_to_currency(@cart_sum,:precision => 2) %></h1>

<a href="https://api.id.me/oauth/authorize?client_id=0c6f65dae7203ae656f6e2198c92c64b&redirect_uri=https://kenn-idme-app.herokuapp.com/cart&response_type=code&scope=military">
  <img alt="Verify your military affiliation with ID.me" src="https://s3.amazonaws.com/idme/buttons/troop_red_rnd_40.png" />
</a>